<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <!--控制总的输出级别-->
    <root level="INFO">
        <appender-ref ref="consoleApp"/>
        <appender-ref ref="fileInfoApp"/>
        <appender-ref ref="fileErrorApp"/>
    </root>

    <appender name="consoleApp" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %date{yyyy-MM-dd HH:mm:ss.SSSS}%-5level[%thread]%logger{56}.%method:%L-%msg%n
            </pattern>
        </layout>
    </appender>

    <appender name="fileInfoApp" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder>
            <parttern>
                %date{yyyy-MM-dd HH:mm:ss.SSSS}%-5level[%thread]%logger{56}.%method:%L-%msg%n
            </parttern>
        </encoder>
    </appender>

</configuration>